.header
  %h1= t(".title")

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Page.human_attribute_name :id
      %th= Page.human_attribute_name :name
      %th &nbsp;

    - if @pages.present?
      - @pages.each do |page|
        %tr[page]
          %td= page.id
          %td= page.name
          %td
            = link_to edit_page_path(page), class: "btn btn-primary btn-xs" do
              %span.glyphicon.glyphicon-edit
              = t(".edit")
    - else
      %tr
        %td(colspan="3")= t(".no_result")
